# project prefix/tag for all object names
projectPrefix = "user-build-gce-"
# your json service account [ sensitive]
serviceAccountFile = ""
# the project ID you want to deploy in
gcpProjectId = "" 
# the gcp region you want to deploy in
gcpRegion = "us-east1"
# the gcp zone you want to deploy in
gcpZone = "us-east1-b"
# admin source address https://www.ipchicken.com/ with cidr mask ip/32
adminSrcAddr = "myexternalip/32"
# admin account name ( not admin)
adminAccount = "myuser"
#adminPass [ sensitive]
adminPass = "MysuperPass"
# contents of the admin ssh public key file [ sensitive]
gceSshPubKeyFile = ""
#Comma seperated list of repositories to clone
repositories = "https://github.com/f5devcentral/terraform-aws-f5-sca.git,https://github.com/f5devcentral/terraform-aws-bigip.git"
# url for workspace onboarding script 
onboardScript = "https://raw.githubusercontent.com/vinnie357/bash-onboard-templates/master/terraform/gcp/sca/onboard.sh"
